<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text="" class="ion-no-padding"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="success">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fCompany" (submit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">
              <b>Name </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="name" type="text" placeholder="Please enter company name"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="!fCompany.controls.name.valid && fCompany.controls.name.touched">
            <ion-text color="danger" class="form-error">
              Please enter a valid name.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="full">
            <ion-label>
              <b>State </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-toggle formControlName="status" slot="end" color="danger"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">
              <b>Address </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="address" type="text" placeholder="Please enter company address">
            </ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="!fCompany.controls.address.valid && fCompany.controls.address.touched">
            <ion-text color="danger" class="form-error">
              Please enter a valid address.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">
              <b>Phone </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="phone" type="text" placeholder="Please enter company phone">
            </ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="!fCompany.controls.phone.valid && fCompany.controls.phone.touched">
            <ion-text color="danger" class="form-error">
              Please enter a valid phone.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8" class="ion-text-center ion-padding">
          <ion-button type="submit" expand="block" shape="round" color="success" [disabled]="!fCompany.valid"
            *ngIf="!view">
            Submit
          </ion-button>
          <ion-button (click)="onClickEditCompany()" expand="block" shape="round" color="tertiary" *ngIf="view">
            <b>Edit</b>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
/