<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text="" class="ion-no-padding"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="success">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="fDepartment" (submit)="submitForm()">
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>Name </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="name" type="text" placeholder="Please enter department name">
            </ion-input>
          </ion-item>
          <ion-item lines="none"
            *ngIf="!fDepartment.controls.name.valid && fDepartment.controls.name.touched && update && !view">
            <ion-text color="danger" class="form-error">
              Please enter a valid name.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>Description </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="description" type="text"
              placeholder="Please enter department description">
            </ion-input>
          </ion-item>
          <ion-item lines="none"
            *ngIf="!fDepartment.controls.description.valid && fDepartment.controls.description.touched && update && !view">
            <ion-text color="danger" class="form-error">
              Please enter a valid description.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>Phone </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="phone" type="text" placeholder="Please enter department phone">
            </ion-input>
          </ion-item>
          <ion-item lines="none"
            *ngIf="!fDepartment.controls.phone.valid && fDepartment.controls.phone.touched && update && !view">
            <ion-text color="danger" class="form-error">
              Please enter a valid phone.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>Company </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select multiple="true" placeholder="Select Company" formControlName="id_enterprise">
              <ion-select-option *ngFor="let company of companies" [value]="company.id">{{company.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none"
            *ngIf="!fDepartment.controls.id_enterprise.valid && fDepartment.controls.id_enterprise.touched && update && !view">
            <ion-text color="danger" class="form-error">
              Please select a company.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="full">
            <ion-label color="success">
              <b>State </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-toggle formControlName="status" slot="end" color="danger"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" class="ion-padding" *ngIf="!view && update && !view">
          <ion-button (click)="onClickCancel()" expand="block" shape="round" color="medium">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center ion-padding">
          <ion-button type="submit" expand="block" shape="round" color="warning" [disabled]="!fDepartment.valid"
            *ngIf="!view">
            Submit
          </ion-button>
          <ion-button (click)="onClickEditDepartment()" expand="block" shape="round" color="success" *ngIf="view">
            <b>Edit</b>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row *ngIf="view">
      <ion-col size="12">
        <ion-card class="vm-shadow ion-no-margin">
          <ion-card-header>
            <ion-item>
              <ion-label color="medium"><b>Department Employees</b></ion-label>
              <ion-button (click)="onClickAddEmployee()" color="warning">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item-sliding *ngFor="let employee of department.employees">
                <ion-item button (click)="onClickEmployeeForm(employee.id)" class="ion-no-padding">
                  <ion-avatar slot="start" size>
                    <img src="/assets/img/department.png">
                  </ion-avatar>
                  <ion-label>
                    <b>Name: </b> {{employee.name | uppercase}} {{employee.surnam | uppercase}}
                    <br>
                    <b>Email:</b> {{employee.mail}}
                    <br>
                    <b>Age:</b> {{employee.age}}
                    <br>
                    <b>State:</b> {{employee.status ? 'Active' : 'Disabled'}}
                  </ion-label>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option color="danger" (click)="onClickDeleteEmployeeDepartment(employee.id)">Delete
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
/