<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="app/companies/company-list">
      <ion-icon name="business"></ion-icon>
      <ion-label>Companies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="app/departments/department-list">
      <ion-icon name="logo-codepen"></ion-icon>
      <ion-label>Departments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="app/employees/employee-list">
      <ion-icon name="people"></ion-icon>
      <ion-label>Employees</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
