<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text="" class="ion-no-padding"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="success">Employees</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-img src="/assets/img/employees.jpg"></ion-img>
    <ion-button expand="block" color="success" shape="round" (click)="onClickAddEmployee()">
      <ion-label><b>Add Department</b></ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="vm-shadow">
    <ion-item-sliding *ngFor="let employee of employees">
      <ion-item button (click)="onClickEmployeeForm(employee.id)">
        <ion-avatar slot="start">
          <img src="/assets/img/employee.png">
        </ion-avatar>
        <ion-label>
          <b>Name: </b> {{employee.name | uppercase}} {{employee.surnam | uppercase}}
          <br>
          <b>Email:</b> {{employee.mail}}
          <br>
          <b>Age:</b> {{employee.age}}
          <br>
          <b>User:</b> {{employee.user}}
          <br>
          <b>State:</b> {{employee.status ? 'Active' : 'Disabled'}}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="onClickDeleteEmployee(employee.id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>