<ion-content>
  <ion-grid class="vm-align-vertical">
    <ion-row>
      <ion-col size="12" class="ion-padding ion-text-center">
        <ion-img src="assets/img/sicpa-banner.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <form (ngSubmit)="submitLogin()" #fLogin="ngForm">
      <ion-row>
        <ion-col size="12">
          <ion-item class="ift-round-20">
            <ion-input name="codCliente" [(ngModel)]="user" required placeholder="Please enter your username">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button type="submit" [disabled]="fLogin.invalid" shape="round" color="warning" class="btn">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>