<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text="" class="ion-no-padding"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="success">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="fEmployee" (submit)="submitForm()">
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>Name </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="name" type="text" placeholder="Please enter employee name">
            </ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="!fEmployee.controls.name.valid && fEmployee.controls.name.touched && update">
            <ion-text color="danger" class="form-error">
              Please enter a valid name.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>Surname </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="surnam" type="text" placeholder="Please enter employee surnam">
            </ion-input>
          </ion-item>
          <ion-item lines="none"
            *ngIf="!fEmployee.controls.surnam.valid && fEmployee.controls.surnam.touched && update">
            <ion-text color="danger" class="form-error">
              Please enter a valid surname.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="view">
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>User </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="user" type="text" placeholder="Please enter employee user">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>Email </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="mail" type="text" placeholder="Please enter employee mail">
            </ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="!fEmployee.controls.mail.valid && fEmployee.controls.mail.touched && update">
            <ion-text color="danger" class="form-error">
              Please enter a valid mail.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>Age </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="age" type="number" placeholder="Please enter employee age">
            </ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="!fEmployee.controls.age.valid && fEmployee.controls.age.touched && update">
            <ion-text color="danger" class="form-error">
              Please enter a valid age.
              <br>
              Employee must be over 18 yeard old.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating" color="success">
              <b>Position </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="position" type="text" placeholder="Please enter employee position">
            </ion-input>
          </ion-item>
          <ion-item lines="none"
            *ngIf="!fEmployee.controls.position.valid && fEmployee.controls.position.touched && update">
            <ion-text color="danger" class="form-error">
              Please enter a valid position.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="full">
            <ion-label color="success">
              <b>State </b>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-toggle formControlName="status" slot="end" color="danger"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" class="ion-padding" *ngIf="!view && update">
          <ion-button (click)="onClickCancel()" expand="block" shape="round" color="medium">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center ion-padding">
          <ion-button type="submit" expand="block" shape="round" color="warning" [disabled]="!fEmployee.valid"
            *ngIf="!view">
            Submit
          </ion-button>
          <ion-button (click)="onClickEditEmployee()" expand="block" shape="round" color="success" *ngIf="view">
            <b>Edit</b>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row *ngIf="view">
      <ion-col size="12">
        <ion-card class="vm-shadow ion-no-margin">
          <ion-card-header>
            <ion-item>
              <ion-label color="medium"><b>Employee Departments</b></ion-label>
              <ion-button (click)="onClickAddDepartment()" color="warning">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item-sliding *ngFor="let department of employee.departments">
                <ion-item button (click)="onClickDepartmentForm(department.id)" class="ion-no-padding">
                  <ion-avatar slot="start" size>
                    <img src="/assets/img/department.png">
                  </ion-avatar>
                  <ion-label>
                    <b>Name: </b> {{department.name}}
                    <br>
                    <b>Description:</b> {{department.description}}
                    <br>
                    <b>State:</b> {{department.status ? 'Active' : 'Disabled'}}
                  </ion-label>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option color="danger" (click)="onClickDeleteEmployeeDepartment(department.id)">Delete
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>